
//fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

//font-family: 'Lato', sans-serif;

$lato:'Lato', sans-serif;;

@font-face {
    font-family: 'Bodoni';
    src: url('Bodoni-Book.eot');
    src: local('Bodoni Book'), local('Bodoni-Book'),
        url('Bodoni/Bodoni-Book.eot?#iefix') format('embedded-opentype'),
        url('Bodoni/Bodoni-Book.woff2') format('woff2'),
        url('Bodoni/Bodoni-Book.woff') format('woff'),
        url('Bodoni/Bodoni-Book.ttf') format('truetype'),
        url('Bodoni/Bodoni-Book.svg#Bodoni-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
$bodoni:'Bodoni';

